In [1]:
import test_template as tt
import pandas as pd
import numpy as np

## Number of Requests

In [17]:
pt1 = tt.PerformanceTest1("test_results/performance", 
                          [100, 500, 1000, 5000, 10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000, 50000],
                          10)

In [18]:
pt1.run()

80 / 80{100: [0.08602595329284668, 0.06899285316467285, 0.060003042221069336, 0.0730440616607666, 0.06099390983581543, 0.04900789260864258, 0.022003650665283203, 0.04500436782836914, 0.06299448013305664, 0.0350034236907959], 500: [0.10799694061279297, 0.22001266479492188, 0.1340007781982422, 0.12600183486938477, 0.30901217460632324, 0.2639901638031006, 0.284991979598999, 0.09697222709655762, 0.33505773544311523, 0.09400415420532227], 1000: [2.2410032749176025, 0.6540360450744629, 0.6320009231567383, 0.6240119934082031, 0.2539982795715332, 0.5530350208282471, 0.43799805641174316, 0.3509950637817383, 0.6169981956481934, 0.15199971199035645], 5000: [1.4899981021881104, 3.8960020542144775, 4.515961647033691, 2.461003303527832, 0.8440048694610596, 2.250004291534424, 3.9710001945495605, 0.8299944400787354, 3.1730005741119385, 3.9859988689422607], 10000: [4.948038816452026, 6.633008003234863, 1.717024564743042, 8.676003694534302, 9.394981145858765, 6.571998596191406, 7.9700398445129395, 4.195980787277222, 3.3259873390197754, 8.019997358322144], 15000: [2.4569942951202393, 15.927017211914062, 0.4889991283416748, 7.604986906051636, 14.660975456237793, 12.455017805099487, 2.409994125366211, 14.046055316925049, 10.049950122833252, 14.145035028457642], 20000: [8.527283191680908, 6.930411100387573, 1.550980567932129, 12.495011806488037, 4.0999836921691895, 20.298004865646362, 22.807998657226562, 17.754952907562256, 9.881997108459473, 1.647003412246704], 25000: [27.86299228668213, 16.593003511428833, 27.882004261016846, 9.174035787582397, 4.773004531860352, 16.04100489616394, 17.65523862838745, 17.596999168395996, 26.430952787399292, 25.891007661819458]}

In [19]:
df1 = pd.DataFrame(pt1.output)
df1.transpose().mean(axis="columns")

100       0.056307
500       0.197204
1000      0.651608
5000      2.741697
10000     6.145306
15000     9.424503
20000    10.599363
25000    18.990024
dtype: float64

In [20]:
df1.transpose().std(axis="columns")

100      0.018904
500      0.095400
1000     0.585182
5000     1.369066
10000    2.517062
15000    5.810183
20000    7.604382
25000    8.009923
dtype: float64

## Number of Telescopes

In [7]:
pt2 = tt.PerformanceTest2("test_results/performance",
                          [5000],
                          [20],
                          10)

In [8]:
pt2.run()

10 / 10{20: {5000: [81.74693250656128, 73.86519932746887, 75.7980408668518, 72.33599042892456, 88.27096605300903, 81.16500234603882, 75.98755764961243, 77.42559790611267, 78.34261274337769, 75.13354754447937]}}

In [9]:
df3 = pd.DataFrame(pt2.output)
df4 = df2.join(df3)
df4

,1,2,3,4,5,20
5000,"[3.4920382499694824, 4.141999244689941, 3.5899...","[5.3220343589782715, 5.435035943984985, 2.4079...","[11.717044591903687, 7.4720375537872314, 14.44...","[10.925027132034302, 9.986995220184326, 18.295...","[7.588039398193359, 12.238708257675171, 15.363...","[81.74693250656128, 73.86519932746887, 75.7980..."

In [11]:
df4.map(np.mean)

            1         2         3          4          5          20
5000  3.103315  5.154973  10.34254  11.383813  13.413685  78.007145

In [12]:
df4.map(np.std)

            1         2         3         4        5         20
5000  1.016187  2.341441  2.694069  3.666806  2.73171  4.430451

## Slice Size

In [4]:
pt3 = tt.PerformanceTest3("test_results/performance",
                          [5000],
                          [300, 500, 1000],
                          3)

In [5]:
pt3.run()

{300: {5000: [3.880000114440918, 4.107964277267456, 3.748000383377075]}, 500: {5000: [2.485625982284546, 2.3370022773742676, 1.3339991569519043]}, 1000: {5000: [0.5099992752075195, 1.1410024166107178, 1.067995548248291]}}

In [7]:
pd.DataFrame(pt3.output).map(np.mean)

          300       500       1000
5000  3.911988  2.052209  0.906332